/* global styling */
:root{
   --primary-color: #0079ff; 
--dark-color: #141d2f;
--white-color: #fff; color: var(--white-color);
--secondary-color: #1e2a47;
    fill: var(--white-color);
--main-background-color: #f6f8ff;
--main-white-color: #fefefe;
--black-color: #222731;

--hover-dark-color: #90a4d4;

--light-gray-color: #697c9a;
--light-pale-blue: #4b6a9b;
--light-dark-gray: #2b3442;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color:var(--light-dark-gray) ;
    line-height: 1.9;
    background-color: var(--main-background-color);
    width: 90%;
    font-size: 1.5rem;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .dark {
    color: var(--white-color);
    fill: var(--white-color);
  }
  .error-message{
    color: red;
  }
  #darkIcon{
    width: 30px;
    cursor: pointer;
  }
  .light {
    /* color: var(--light-pale-blue); */
    color: var(--white-color);
background-color: var(--black-color);
    fill: var(--white-color);
  }
  
  
  .title{
      display: flex;
      justify-content: space-between;
  }
  .title a {
    text-decoration: none;
  color: #222;
  }
  .light .title a{
    color: #fff;
  }
  .title span{
      font-size: 1.5rem;
  }
  .search_section{
    display: flex;
    height: 50px;
    padding: 2px;
    /* background: #1e232b; */
    background-color:var(--main-background-color);
    box-shadow: 0 0 3rem rgba(0 0 0 / 0.075);

    min-width: 18%!important; 
    /* border: 1px solid rgba(155,155,155,0.2); */
    border-radius: .10rem;
  
  
  }
  .light .search_section{
    background-color: var(--secondary-color);
  }
  .search-data{
    width: 100%;
    height: 100%;
    padding: 12px 0px;
    color: #222;
    outline: none;
    font-size: 1rempx;
    border: none;
    font-weight: 500;
    background: none;

  
}
.light .search-data{
  color: var(--main-background-color);
}
 .search_btn{ 
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5rem;
    background-color:var(--primary-color);
    border: none;
    outline:none;
    /* border-top-right-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
    cursor: pointer;
    transition: .2s all;
  
}

  
  .search_section i {
      color: var(--primary-color);
      /* width: 40px; */
      text-align: center;
      margin: 0 10px;
      padding: 5px;
      line-height: 3rem;
      font-size: 18px;
      cursor: pointer;
    
  }
  .username_container{
    background-color: var(--main-background-color);
    box-shadow: 0 0 8rem rgba(0 0 0 / 0.075);

    margin-top: 10px;
    border-radius: 0.75rem;
    padding: 3rem 1.5rem;
    margin-bottom: 20px;
    display: none;
  }
.bio-update{
  display: flex;
 
  flex-wrap: wrap;
  
}
.profile_img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 30px;
}
.bio_wrap{
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.repos__container{
  display: flex;
  padding: 2rem 3rem;
  background-color: var(--light-pale-blue);
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 100;
  border-radius: 1rem;
}
.location__container{
  display: flex;
  flex-direction: column;
  
  

}
.light .username_container{
  background-color:var(--secondary-color) ;
}
.location i{
  margin-right: 30px;
}
.location  a {
  text-decoration: none;
  color:var(--light-dark-gray) ;
}
.light .location a{
  color:var(--main-background-color);
}
/* meduim devices */
@media only screen and (min-width: 768px){
  .location__container{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
column-gap: 10px;
row-gap: 20px;
  }

  
}

@media only screen and (min-width: 1000px){
  body{
      width: 50%;
  }
  .bio-update{
    display: flex;
  }
  .location__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
      }
    .bio{
      display: flex;
      justify-content: space-around;
      margin-right: 3opx;
      /* margin-left: 50px; */
      /* border: 2px white; */
    }
    .date_joined{
      margin-left: 100px;
    }
    .profile_img{
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin-right: 30px;
    }

}

